<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enterprise Creative</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen bg-slate-900 text-white">
    <header
      class="bg-slate-800 text-white flex justify-between items-center p-4 shadow-md border-b border-slate-700"
    >
      <a
        href="/"
        class="px-4 hover:text-sky-400 transition-colors cursor-pointer border border-white"
      >
        EC
      </a>
      <a href="/rom-tool" class="app-title text-lg hover:text-sky-400"
        >ROM Tool</a
      >
      <a href="/survey-tool" class="app-title text-lg hover:text-sky-400"
        >Survey Tool</a
      >
      <div
        class="px-4 hover:text-sky-400 transition-colors cursor-pointer border border-white"
      >
        RESET
      </div>
    </header>
  </body>
</html>
